<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
</head>

<body>
    <h1 class="text-center">Home Page</h1>

    <form action="/logout" method="POST">
        <button type="submit" class="btn btn-warning mx-auto d-block">Đăng xuất</button>
    </form>
</body>

</html>