<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<style>
    .none-flash {
        display: none;
    }

    a {
        width: auto !important;
    }

    .image-icon {
        width: 55px;
        margin: 5px 10px;
        cursor: pointer;

    }
</style>

<script>
    $(document).ready(() => {
        $('#btnlogin').on('click', () => {
            var username = $('#username').val();
            var password = $('#password').val();
            var origin = JSON.parse('<%- redirectURL %>');
            let user = { username, password, origin };
            $.ajax({
                type: "POST",
                url: `${window.location.origin}/login`,
                data: user,
                withCredentials: true,
                success: function (data) {
                    $('#flash').addClass("none-flash");
                    window.location.href = `${data.origin}/codeToken?sso=${data.code}`;
                },
                error: function (err) {
                    $('#flash').removeClass("none-flash")
                    $('#flash').text(err.responseText);
                }
            })

        })
        $('#google-icon').on('click', () => {
            localStorage.removeItem('clientURL')
            var origin = JSON.parse('<%- redirectURL %>');
            localStorage.setItem('clientURL', origin)
        }) //facebook-icon
        $('#facebook-icon').on('click', () => {
            localStorage.removeItem('clientURL')
            var origin = JSON.parse('<%- redirectURL %>');
            localStorage.setItem('clientURL', origin)
        })

    })

</script>

<body>
    <div class="container">
        <input hidden disabled value="<%= redirectURL %>" />
        <fieldset class="border p-2 w-50 mx-auto my-5">
            <legend class="float-none w-auto fw-bold fst-italic">LOGIN</legend>
            <div class="container">
                <div class="alert alert-danger none-flash" role="alert" id="flash">
                </div>
                <div class="form-group">
                    <label class="fw-bold" for="username">Username:</label>
                    <input type="text" class="form-control" id="username" placeholder="Enter username" name="username">
                </div>
                <div class="form-group my-3">
                    <label class="fw-bold" for="password">Password:</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter password"
                        name="password">
                </div>
                <div class="row d-flex justify-content-center">
                    <a href="/auth/google">
                        <img id="google-icon" class="image-icon" src="/image/googleicon.png" />
                    </a>
                    <a href="/auth/facebook">
                        <img id="facebook-icon" class="image-icon" src="/image/facebookicon.webp" />
                    </a>
                </div>
                <button type="button" id="btnlogin" class=" btn btn-primary">Đăng nhập</button>
            </div>
        </fieldset>
    </div>

</body>

</html>